<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProductConnection" connectionString="server=.\SQLExpress;database=ProductDatabase;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="OrderConnection" connectionString="server=.\SQLExpress;database=OrderDatabase;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>